// colors
$accentColor = #EF8354 //#3eaf7c
$textColor = #ffffffb5 //#3b454e
$titleColor = #ffffffb5 //#242a31
$borderColor = #3a3f54 //#eaecef
$sidebarHeaderColor = #697179
$sidebarBgColor = #272b3c //#f5f7f9
$lightDelimiterColor = #3a3f54 //#e6ecf1
$codeBgColor = #282c34
$arrowBgColor = #697179 //#ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$bgColor = #2D3142


$darkDark = #1d2131

// layout
$navbarHeight = 4rem
$sidebarWidth = 18.625rem
$contentWidth = 740px
$homePageWidth = 960px
 
// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px