$dark = #2D3142
$darker = #272b3c
$darkest = #1d2131
$superDark = #1b1f23
$light = #3a3f54

$borderColor = $light


$textColor = #c2c3c8

// colors
$accentColor = #EF8354 //#3eaf7c
$titleColor = #ffffffb5 //#242a31
$sidebarHeaderColor = #697179
$sidebarBgColor = #272b3c //#f5f7f9
$codeBgColor = #282c34
$arrowBgColor = #697179 //#ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$bgColor = #2D3142


// layout
$navbarHeight = 4rem
$sidebarWidth = 18.625rem
$contentWidth = 740px
$homePageWidth = 960px
 
// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px